<div class="container container-center"
     fxLayout="column"
     fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <div class="item item-1" fxFlex="100%"  fxFlexAlign="center">
    <mat-card>
      <mat-card-header>
        Login
      </mat-card-header>
      <mat-card-content>
        <div class="container"
             fxLayout="column" fxLayoutGap="10px">
          <div class="item item-2" fxFlex="100%">
            <mat-form-field class="element-full-width">
              <input matInput placeholder="User Name">
            </mat-form-field>
          </div>
          <div class="item item-3" fxFlex="100%">
            <mat-form-field class="element-full-width">
              <input type="password" matInput placeholder="Password">
            </mat-form-field>
          </div>
          <div class="item item-4" fxFlex="100%">
            <button mat-button color="primary">Login</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
